.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  width: 300px;
  height: 500px;
  background-size: cover;
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.b1 {
  background-image: url("aaa.jpg");
}
.b2 {
  background-image: url("bb.jpg");
}
.b3 {
  background-image: url("cc.png");
}
.b4 {
  background-image: url("dd.jpg");
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.sub {
  font-size: 16px;
  color: gray;
  margin-bottom: 15px;
}
.co {
  color: white;
}
.a {
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.b {
  font-size: 26px;
  font-weight: bold;
}
.c {
  font-size: 15px;
}
