section {
  /*자식을 행렬, 바둑판, 체스판, 엑셀 표*/
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100vw;
  height: 100vh;
}
.box {
  width: 100%;
  height: 100%;
  background-color: pink;
  border: 1px solid black;
}
