.box {
  width: 300px;
  height: 300px;
  background-color: tomato;
  /* 변화가 일어나면 몇초 걸리는지 제어하는 css */
  transition: all 1s;
}
/*마우스 올릴떄 */
.box:hover {
  width: 500px;
  height: 500px;
  background-color: green;
}
