.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.a {
  background-color: yellow;
}
.b {
  background-color: black;
  color: white;
}
.c {
  background-color: white;
  border: 1px solid rgb(168, 164, 164);
}
.icon {
  font-size: 20px;
  position: absolute;
  left: 10px;
}
/* 강사님은 div 안주고 버튼으로 감싸서 글씨 가운데로 바로가게함*/
