section {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: fit-content;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 110px;
  height: 190px;
}
.box {
  width: 100px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
}
.box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s;
  border-radius: 10px;
}
.box > img:hover {
  transform: scale(1.05);
}
span {
  font-size: 10px;
}
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
