@font-face {
  font-family: "SacheonUju-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/SacheonUju-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
.first {
  height: 100vh;
  background-image: url("img/aa.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first > .contents {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.first > .contents > h2 {
  text-align: center;
  color: white;
  font-size: 80px;
  line-height: 1.5;
  font-family: "SacheonUju-Regular";
}
