@font-face {
  font-family: "SacheonUju-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/SacheonUju-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
.third {
  padding: 20px 0;
}
.third > .contents {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.third > .contents > h6 {
  font-size: 18px;
  color: gray;
  font-family: "SacheonUju-Regular";
  margin-top: 20px;
}
.third > .contents > h4 {
  font-size: 32px;
  color: black;
  font-weight: bold;
  font-family: "SacheonUju-Regular";
  line-height: 1.3;
  margin-bottom: 30px;
}
.third > .contents > .container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.third > .contents > .container > .card {
  width: 100%;
  height: 480px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
  align-items: center;
  text-align: center;
  color: white;
  padding-bottom: 50px;
  position: relative;
}
.third > .contents > .container > .card > .cellophane {
  position: absolute;
  top: 0px;
}
.third > .contents > .container > .card > span {
  font-size: 15px;
  color: white;
}
.third > .contents > .container > .card > div {
  font-size: 32px;
  color: white;
  font-weight: bold;
}
.third > .contents > .container > .card > button {
  font-size: 20px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.firstimg {
  background-image: url("img/a1.avif");
  background-size: cover;
}
.secondimg {
  background-image: url("img/b1.avif");
  background-size: cover;
}
